@import 'animation';
@import 'fonts';
@import 'response';
@import 'global';
@import 'header';
@import 'footer';
@import 'home';
@import 'product';
@import 'contact';
@import 'news';
@import 'quality';
@import 'applications';
@import 'about';
@import '_quantity-queries';
@import 'products';
@import 'search';
@import 'video';

.path-webform{
    #block-bartik-content{
        padding-top:0;
        height:100vh;
    }
    .webform-confirmation__message{
        font-size:24px;
    }
}