$w1400:"screen and (max-width: 1400px)";
$w1280:"screen and (max-width: 1280px)";
$w1170:"screen and (max-width: 1170px)";
$w1024:"screen and (max-width: 1024px)";
$w980:"screen and (max-width: 980px)";
$w768:"screen and (max-width: 768px)";
$w568:"screen and (max-width: 568px)";




@mixin media($media) {
    @if $media == w1400 {
        @media #{$w1400} { @content; }
    }

    @if $media == w1280 {
        @media #{$w1280} { @content; }
    }

    @if $media == w1170 {
        @media #{$w1170} { @content; }
    }

    @if $media == w1024 {
        @media #{$w1024} { @content; }
    }

    @if $media == w980 {
        @media #{$w980} { @content; }
    }

    @if $media == w768 {
        @media #{$w768} { @content; }
    }

    @if $media == w568 {
        @media #{$w568} { @content; }
    }

}